@font-face {
  font-family: 'fontawesomeregular';
  src: url('../fontawesome-webfont.woff2') format('woff2'),
  url('../fontawesome-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'fontawesomeregular';
  src: url('../fontawesome-webfont-webfont.woff2') format('woff2'),
  url('../fontawesome-webfont-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'robotobold';
  src: url('../roboto-bold-webfont.woff2') format('woff2'),
  url('../roboto-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'robotobold_italic';
  src: url('../roboto-bolditalic-webfont.woff2') format('woff2'),
  url('../roboto-bolditalic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'robotoitalic';
  src: url('../roboto-italic-webfont.woff2') format('woff2'),
  url('../roboto-italic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'robotolight';
  src: url('../roboto-light-webfont.woff2') format('woff2'),
  url('../roboto-light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'robotolight_italic';
  src: url('../roboto-lightitalic-webfont.woff2') format('woff2'),
  url('../roboto-lightitalic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'robotomedium';
  src: url('../roboto-medium-webfont.woff2') format('woff2'),
  url('../roboto-medium-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'robotomedium_italic';
  src: url('../roboto-mediumitalic-webfont.woff2') format('woff2'),
  url('../roboto-mediumitalic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'robotoregular';
  src: url('../roboto-regular-webfont.woff2') format('woff2'),
  url('../roboto-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'bernier_distressedregular';
  src: url('../bernierdistressed-regular-webfont.woff2') format('woff2'),
  url('../bernierdistressed-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'bernier_regularregular';
  src: url('../bernierregular-regular-webfont.woff2') format('woff2'),
  url('../bernierregular-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'bernier_shaderegular';
  src: url('../berniershade-regular-webfont.woff2') format('woff2'),
  url('../berniershade-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}