.header{
  padding: 25px;
  display: flex;
  align-items: center;
  justify-content:space-between;
  margin-bottom:30px;
  position: relative;
}
.social__icon_head{
  fill: #c0d6d5;
  &:hover{
    fill: #ffffff;
    transition: .5s;
  }
}

.navigation__humburger{
  display: flex;
  flex-direction: column;
  z-index: 9999;
}
.navigation__line{
  width: 40px;
  height: 4px;
  background: #fff;
  border-radius:3px;
  margin-bottom: 10px;
  transition: .5s;
  &:last-child span{
    margin-bottom:0;
  }
}
.navigation__humburger_active .navigation__line:nth-child(2n+0) {
  opacity: 0;
  transition: .1s;
}
.navigation__humburger_active .navigation__line:first-child {
  transform: rotate(45deg) translateY(20px) ;
}
.navigation__humburger_active .navigation__line:last-child {
  transform:rotate(-43deg) translateY(-19px);
}

.menu{
  opacity: 0;
  visibility: hidden;
  position: absolute;
 @include center;
  &_active{
    position: fixed;
    @include center;
    opacity: 1;
    visibility: visible;
    transition: 1.6s;
    z-index: 990;
  }
  &__list{
    text-align: center;
  }
  &__item{
    margin-bottom:40px;
    &:last-child{
      margin-bottom:0;
    }
  }
  &__link{
    @include title;
    position: relative;
    &:hover:before{
      content: "";
      height: 5px;
      width: 20px;
      top: 2.25rem;
      left: -2.5rem;
      background: $white;
      position: absolute;
    }
    &:hover:after{
      content: "";
      height: 5px;
      width: 20px;
      top: 2.25rem;
      right: -2.5rem;
      background: $white;
      position: absolute;
    }
  }
}
.drop-left {
  position: absolute;
  top: 0;
  bottom: -9999px;
  left: 0;
  width:0;
  background:rgba($aquamarine,.9);
  z-index: 899;
  transition: .3s;
  &_active {
    width: 50%;
  }
}
  .drop-right {
  position: absolute;
  top: 0;
  bottom: -8999px;
  right: 0;
    width:0;
  background:rgba($aquamarine,.9);
  z-index: 899;
  transition: .3s;
  &_active{
    width: 50%;

  }
}
