footer.footer
    .footer__up
        ul.footer-nav
            li.footer-nav__item
                a.footer-nav__link(href='#') Мои работы
            li.footer-nav__item
                a.footer-nav__link(href='#') Обо мне
            li.footer-nav__item
                a.footer-nav__link(href='#') Блог
            li.footer-nav__item
                a.footer-nav__link(href='#') Авторизация
        ul.social
            li.social__item
                a.social__link(href='#')
                    svg.social__icon_footer(viewbox='0 0 50 50', width='32', height='37')
                        use(xlink:href='images/icons/sprite.svg#vk_round')
            li.social__item
                a.social__link(href='#')
                    svg.social__icon_footer(viewbox='0 0 50 50', width='32', height='37')
                        use(xlink:href='images/icons/sprite.svg#github_round')
            li.social__item
                a.social__link(href='#')
                    svg.social__icon_footer(viewbox='0 0 50 50', width='32', height='37')
                        use(xlink:href='images/icons/sprite.svg#in_round')
    .footer__down
        p.footer__description
            | Я веб-разработчик из Новосибирска, и этот сайт я сделал в рамках обучения в Школе онлайн образования
            | LoftSchool.
        p.footer__dev © Евгений Кочетов | создано с любовью в LoftSchool | 2017