footer.footer
    .footer__up
        ul.footer-nav
            li.footer-nav__item
                a.footer-nav__link(href='my-works.html') Мои работы
            li.footer-nav__item
                a.footer-nav__link(href='about.html') Обо мне
            li.footer-nav__item
                a.footer-nav__link(href='blog.html') Блог
            li.footer-nav__item
                a.footer-nav__link(href='index.html') Авторизация
        ul.social
            li.social__item
                a.social__link(href='#')
                    svg.social__icon_footer(viewbox='0 0 50 50', width='32', height='37')
                        use(xlink:href='images/icons/sprite.svg#vk_round')
            li.social__item
                a.social__link(href='#')
                    svg.social__icon_footer(viewbox='0 0 50 50', width='32', height='37')
                        use(xlink:href='images/icons/sprite.svg#github_round')
            li.social__item
                a.social__link(href='#')
                    svg.social__icon_footer(viewbox='0 0 50 50', width='32', height='37')
                        use(xlink:href='images/icons/sprite.svg#in_round')
