header.header
    ul.social
        li.social__item
            a.social__link(href='#')
                svg.social__icon_head(viewbox='0 0 50 50', width='37', height='37')
                    use(xlink:href='images/icons/sprite.svg#vk')
        li.social__item
            a.social__link(href='#')
                svg.social__icon_head(viewbox='0 0 50 50', width='32', height='37')
                    use(xlink:href='images/icons/sprite.svg#github')
        li.social__item
            a.social__link(href='#')
                svg.social__icon_head(viewbox='0 0 50 50', width='32', height='37')
                    use(xlink:href='images/icons/sprite.svg#in')
    a#trigger-menu.hamburger-menu.triger-menu(href='#')
        #hamburger-menu-bars.hamburger-menu-bars
