extends ../template

block variables
    title  Обо мне
block content
    .container
        section.section-about.blog
            include ../common/header
            .user-portfolio
                .foto
                    img.foto__user(src='images/img/im.jpg', alt='i')
                .user-name
                    h1.title Евгенний Кочетов
                    p.user__text Личный сайт веб разработчика
            a.arrow-scroll(href='#')
                svg.icon__scroll(viewbox='0 0 50 50', width='25', height='25')
                    use(xlink:href='images/icons/sprite.svg#arrow_down')

        .section.my-works
            .title-work
                h1.subtitle Мои работы
                svg.triglle-work
                svg.bg__work