extends ../template

block variables
    title  Обо мне
block content
    .container
        section.section-about.blog
            include ../common/header
            .user-portfolio
                .foto
                    img.foto__user(src='images/img/im.jpg', alt='i')
                .user-name
                    h1.title Евгений Кочетов
                    p.user__text Личный сайт веб разработчика
            a.arrow-scroll(href='#')
                svg.icon__scroll(viewbox='0 0 50 50', width='25', height='25')
                    use(xlink:href='images/icons/sprite.svg#arrow_down')
            .about__triangle
                svg.about__triangle-white(xmlns="http://www.w3.org/2000/svg", viewbox='0 0 1000 85', preserveAspectRatio="none")
                    polygon.about__triangle_left(fill="#ffffff" points="0,0 0,86 500.8,86 500.8,75.5" )
                    polygon.about__triangle_right( fill="#ffffff" points="1000,0 1000,86 500,86 500,75.5" )

        section.section.my-works
            .title-work
                h1.title-works Мои работы

        section.section.carousel
            .content__works
                .content__works-left
                    h2.subtitle Сайт школы онлайн образования
                    h3.title-description
                    a.content__link(href="#") Посмотреть сайт
                        svg.content__link-svg
                .content__works-right



        section.section.speak
            .title-speak
                h1.title-speaks Что обо мне говорят
            .speak-description
                .loft-description
                    img.loft-description__img(src='images/img/quotes.png', alt='quotes')
                    p Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 2 месяца только самых тяжелых испытаний и бессонных ночей!
                    .loft-user
                        .loft-user__img
                            img.loft-user__pic(src='images/img/kovalchuk.jpg', alt='Kovalchuk')
                        .loft-name
                            p Ковальчук Дмитрий
                            p основатель Loftscool
                .loft-description
                    img.loft-description__img(src='images/img/quotes.png', alt='quotes')
                    p Этот код выдержит любые испытания. Только пожалуйста, не загружается сайт на слишком старых браузерах!
                    .loft-user
                        .loft-user__img
                            img.loft-user__pic(src='images/img/sabancev.jpg', alt='Sabancev')
                        .loft-name
                            p Сабанцев Владимир
                            p преподаватель
            .block-form
                form.form
                    h2.subtitle.subtitle-form Связаться со мной
                    input.form__input.form__name(type="text" placeholder="Имя")
                    input.form__input.form__email(type="email" placeholder="Email")
                    textarea.form__message(placeholder="Ваше сообщение")
                    .form__button
                        button.form__button_send(id="form__button_send") Отправить
                        input.form__button_clear(type="reset" name="reset" value="Очистить")

            a.arrow-scroll_up(href="#")
                svg.icon__scroll_up(viewbox='0 0 50 50', width='25', height='25')
                    use(xlink:href='images/icons/sprite.svg#portf_arrow_up')
        include ../common/footer






