block variables

doctype html
html
    head
        meta(charset="utf-8")
        title My works
        meta(content="" name="description")
        meta(content="" name="keywords")
        meta(content="width=device-width, initial-scale=1" name="viewport")
        meta(content="ie=edge" http-equiv="x-ua-compatible")
        link(rel="shortcut icon" type="image/x-icon" href="images/favicon/favicon.ico")
        link(rel="stylesheet" href="css/style.min.css")
        script(src="js/bundle.js")
        script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBQqo7U8AUECEzmP4BBuDooBysmapLAVPk&callback=initMap" async defer)

    body
        .wrapper
            block content
