.section-about{
  &:before {
    background: url("../images/icons/portfolio_header.svg")no-repeat;
    position: absolute;
    content: '';
    top:20%;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity:.2;
  }
}
.user-portfolio{
  display: flex;
  flex-direction: column;
  justify-content:center;
  text-align: center;
  align-items:center;
  position: relative;
  z-index: 3;
}
.title{
  @include title;
}
.about{
  position: relative;
  display: flex;
  justify-content: space-between;
  &__left{
    width: 50%;
    background: #efeee9;
  }
  &__right{
    width: 50%;
  }
}
