@font-face {
  font-family: 'lifehackmedium';
  src: url('../fonts/lifehack_medium-webfont.woff2') format('woff2'), url('../fonts/lifehack_medium-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
