.title-work{
  position: relative;
  height: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  &:after{
    content: '';
    position: absolute;
    background: url("../images/icons/works_header.svg")no-repeat;
    z-index: 5;
    height: 100%;
    width:45%;
    opacity: .2;
  }
}
.arrow-scroll_down{
 @include tablets{
   right: 48%;
 }
}
.about__triangle_left-works{
  fill:$white;
}
.about__triangle_right-works{
  fill:$white;
}
.title-works {
  @include title;
  color: #373e42;
  position: relative;
  &:before{
    content: '';
    position: absolute;
    width: 20px;
    height: 4px;
    background-color: rgba(55, 62, 66,.4);
    top:50%;
    left:-2.375rem;
  }
  &:after{
    content: '';
    position: absolute;
    width: 20px;
    height: 4px;
    background-color: rgba(55, 62, 66,.4);
    top:50%;
    right:-2.375rem;

  }
}
//-----------------------section CAROUSEL----------------
.works{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
  //
  //&:before{
  //  content: "";
  //  display: block;
  //  position: absolute;
  //  width: 100%;
  //  bottom: 100%;
  //  left: 0;
  //  height:150px;
  //  background-image: url('../img/bg-svg/triangle-works.svg');
  //  transition: height .5s;
  //  transform: translateY(2px);
  //
  //  @include tablets{
  //    height: 100px;
  //  }
  //
  //}

}

.works__top{
  background-color: #faf8f0;
  display: flex;
  justify-content: center;
  align-items: center;
}



.works__slider{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 100vh;

  @include netbook{
    height: auto;
  }
}

.slider__info{
  background-color: #f0efe9;
  width: 50%;
  height: 100%;

  @include netbook{
    height: 400px;
    width: 100%;
    padding:20px 10px 60px;
  }
}
.text-link{
 @include roboto;
  font-family:'robotomedium';
  margin-left:10px;
}
.slider-info__list{
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider-info__item{
  position: absolute;
  opacity: 0;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: opacity .5s;
  &.active{
    opacity: 1;
    z-index: 10;
  }
}

.slider__skills{
  margin-bottom: 40px;
  padding: 20px 0;
  border-top:1px solid rgba($dark-green,.3);
  border-bottom:1px solid rgba($dark-green,.3);
}

.slider__button{
  display: block;
  padding:15px 20px;
  background-color:#00bfa5;
  border-radius: 5px;
  transition: all .5s;

  &:hover{
    background-color: $dark-green;
  }
  &-svg{
    display: flex;
    align-items:center;
    &-white{
      fill:$white;
    }
  }
}

.slider__skills-text{
  color: #20b5a1;
  font-family:'robotomedium';
}

.slider__right-top{
  height: 70%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #efebe0;

  @include netbook{
    height: auto;
    width: 100%;
    padding:45px 0;
    order: -10;
  }
}

.slider-screen{
  width: 600px;
  height: 400px;
}

.carousel-main{
  position: relative;
}

.carousel-main__slide{
  position: absolute;
  z-index: 1;
  opacity: 0;
  transition: all 1s;
  &.active{
    z-index: 10;
    opacity: 1;
  }
}

.slider-screen__img{
  max-width: 100%;
  max-height:100%;
}

.slider__btns{
  height: 30%;
  width: 50%;
  display: flex;
  background-color: #efebe0;

  @include netbook{
    height: 200px;
    width: 100%;
  }
}

.carousel-slides__slide{
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 30;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-slides__slide-previous{
  bottom: 100%;
  opacity:0;
  z-index: -10;
  transition: top .75s, bottom .75s, z-index .75s;
  &.active{
    bottom: 0;
    z-index: 10;
    opacity: 1;
  }
  &.next-active{
    bottom:-100%;
    z-index: 5;
    opacity: 1;
  }
  &.old-active{
    bottom:100%;
    z-index: 10;
    opacity: 1;
  }
}

.carousel-slides__slide-next{
  bottom: 100%;
  opacity:0;
  z-index: -10;
  transition: top .75s, bottom .75s, z-index .75s;
  &.active{
    bottom: 0;
    z-index: 10;
    opacity: 1;
  }
  &.next-active{
    bottom:-100%;
    z-index: 5;
    opacity: 1;
  }
  &.old-active{
    bottom:100%;
    z-index: 10;
    opacity: 1;
  }
}

.slider__link{
  width: 50%;
  cursor: pointer;
  display: flex;
  border:none;
  background-color: transparent;
  padding: 0;
  position: relative;
  overflow: hidden;

  &:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(#b6b4ae,.7);
    z-index: 40;
  }
}

.previous-slide{
  &:after{
    content: '';
    position: absolute;
    top: 50%;
    display: block;
    width: 30px;
    height: 20px;
    background:url("../images/icons/portf_arrow_up.svg") no-repeat;
    background-size: cover;
    left: 50%;
    transform:translate(-50%,-50%);
    z-index: 50;
  }
  &:hover{
    &:after{
      top: 60%;
      transition: top .3s;
    }
  }
}

.next-slide{
  &:after{
    content: '';
    position: absolute;
    display: block;
    width: 30px;
    height: 20px;
    background:url("../images/icons/portf_arrow_down.svg") no-repeat;
    background-size: cover;
    left: 50%;
    transform:translate(-50%,-50%);
    top: 50%;
    z-index: 50;
  }
  &:hover{
    &:after{
      top: 40%;
      transition: top .3s;
    }
  }
}

.slider__img{
  max-width: 100%;
  max-height: 100%;
  flex: auto;
}



//-------------------------Speak about------------------
.speak{
  min-height: 100%;
  background: url("../images/background/bg_speak.png")center center no-repeat ;
  background-size:cover;
}
.title-speak{
  @extend .title-work;
  &:after{
    background: url("../images/icons/about_header.svg")no-repeat;
    width:45%;
  }
  @include phones{
    text-align: center;
    padding: 0 20px;
  }
}
.title-speaks{
  @extend .title-works;
  &:before{
   @include phones{
     left: 10%;
   }
  }
  &:after{
    @include phones{
      right: 10%;
    }
  }
}
.speak-description{
  display: flex;
  justify-content:center;
  @include phones{
    flex-direction:column;
  }
}
.loft-description{
  padding:0 20px;
  width: 30%;
  margin-bottom:70px;
  &>p:nth-child(2n){
    @include robotoreg;
    @include phones{
      text-align: left;
    }
  }
  &__img{
    margin-bottom:20px;
  }
  @include netbook{
    width: 50%;
  }
  @include tablets{
    width: 50%;
  }
  @include phones{
    width: 100%;
    text-align: center;
  }
}
.loft-user{
  margin-top:20px;
  display: flex;
  align-items:center;
  &__img{
    width: 76px;
    height: 76px;
    border-radius:50%;
    overflow: hidden;
    margin-right:15px;
  }
  &__pic{
    max-width:100%;
  }
}
.loft-name{
  &>p:first-child{
    @include robotobold;
  }
  &>p:nth-child(2n){
    @include robotoreg;
    color: #20b5a1;
  }
}
//----------------------Blur-------------------------------------------

.block-form{
  margin:0 auto;
  width: 380px;
  padding:30px 15px 0 15px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  position: relative;
  margin-bottom:60px;
  @include phones{
    width: 21.75rem;
  }
}
.form{
  display: flex;
  flex-direction:column;
  justify-content: space-between;
  align-items:center;
  position: relative;
  z-index: 2;
  background:url("../images/background/bg_blur.png")center no-repeat;
  border-radius: 10px;
}
.subtitle-form{
  position: relative;
  @include phones{
    font: 1.8rem bernier_regularregular;
    margin-bottom: 0.875rem;
  }
  &:before{
    content: '';
    position: absolute;
    width: 20px;
    height: 5px;
    background-color: rgba(255, 255, 255,0.5);
    top:50%;
    left:-2.375rem;
  }
  &:after{
    content: '';
    position: absolute;
    width: 20px;
    height: 5px;
    background-color: rgba(255, 255, 255,0.5);
    top:50%;
    right:-2.375rem;;
  }
}
.form__input{
  margin-bottom:20px;
  width:95%;
  height: 45px;
  border-radius:5px;
  background: $white;
  padding:0 15px;
  border: 1px solid transparent;
}
.form__message{
  margin-bottom:60px;
  width:95%;
  height: 145px;
  border-radius:5px;
  background: $white;
  padding:10px 15px;
  border: 1px solid transparent;
  resize: none;
}
.form__button {
  width: 100%;
  display: flex;
  &_send {

    position: absolute;
    bottom: 0;
    left: 0;
    width: 50%;
    height: 45px;
    background: #06b39e;
    color: $white;
    border: 1px solid transparent;
    border-right: 1px solid $white;
    border-bottom-left-radius:5px ;
    &:hover {
      cursor: pointer;
      background: #1b8987;
      transition: .5s;
    }
  }
  &_clear {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 50%;
    height: 45px;
    background: #06b39e;
    font-size: 16px;
    color: $white;
    border: 1px solid transparent;
    border-bottom-right-radius:5px ;
    &:hover {
      cursor: pointer;
      background: #1b8987;
      transition: .5s;
    }
  }
}

.arrow-scroll_up{
  display:block;
  width: 30px;
  height:100px;
  margin:0 auto;
  @include phones{
    height: 3.25rem;
    width: 40px;
  }
}
.icon__scroll_up{
  fill:#b4d0d2;
  &:hover {
    cursor: pointer;
    width: 35px;
    height: 35px;
    transition: .5s;
  }
}
